* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
.container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.muscic-player {
    width: 400px;
    padding:25px 35px;
    background-color: #ffe0e5;
   
}
.muscic-player img {
    width: 50%;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.img {
    text-align: center;
}
.img h1  {
    color:#333;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
.img p {
    color:#333;
    font-size: 14px;
}
.tool i {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #f53192;
    border-radius: 50%;
    border: white 1px solid;
    background-color: #fff;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.audio {
    text-align: center;
}
#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    
    
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:  8px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.control {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.control i {
    width: 60px;
    height:60px;
    border: 1px solid transparent;
    background-color:white;
    color: #f53192;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.control div i {
    transform: scale(1.5);
    background: #f53192;
    color:#fff

}